<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PeloTracker.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
				<key>dateExpires</key>
				<string>12/16/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D66F29AA1284BE1D15C0D187A46EDF274D13791C</string>
						<key>dateExpires</key>
						<string>12/16/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UDPR2LX8UA</string>
						<key>name</key>
						<string>Justin Holmes</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UDPR2LX8UA.com.justinholmes.PeloTracker</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UDPR2LX8UA</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>UDPR2LX8UA.com.justinholmes.PeloTracker</string>
				</array>
			</dict>
			<key>name</key>
			<string>PeloTracker.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>dbef5a19-6a58-4c6d-adcc-1b1529c5ed6a</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.justinholmes.PeloTracker</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UDPR2LX8UA</string>
				<key>name</key>
				<string>Justin Holmes</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
